/**
 * General
 */

.featured-article {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  grid-gap: 1em;
  grid-auto-flow: dense;
}

.featured-article-image {
    display: block;
    margin-bottom: 0.8em;
    border: 0;
}

.article {
  border-radius: 3px;
  padding: 1em;
  background: #fff;
  box-shadow:
    0 5px 10px rgba(0, 0, 0, 0.1),
    0 20px 20px rgba(0, 0, 0, 0.05);
}

.article:nth-child(1) {
  grid-column: 1 / -1;
  background: _palette(bg)
}

.article:nth-child(1)>hr:first-child {
  padding-bottom: 30%
}

.article:nth-child(1)>hr:last-child {
  margin-right: 20%;
  height: 28px
}

.article:nth-child(1):after {
}

.article:nth-child(3) {
  grid-column: -3 / -1;
  background: rgba(100,60,20,0.15);
}
.article:nth-child(3):after {
}

.article:nth-child(4) {
  grid-column: 1 / -2;
  background: rgba(255,200,255,0.3)
}

.article:nth-child(4)>hr:first-child {
  padding-bottom: 30%
}

.article:nth-child(4):after {
}

.article:after {
  color: #808;
  font-weight: bold;
  font-family: courier;
}

@media (max-width: 680px) {
  .archive {
    display: flex;
    flex-direction: column;
  }
  .article {
    margin-bottom: 1em;
  }
}
