/**
 * Modal dialog
 */
@keyframes fade-in {
  from {
	opacity: 0;
  }
}

@keyframes slide-up {
  from {
	transform: translateY(10%);
  }
}

 /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,10,0.65); /* Black w/ opacity */
  animation: fade-in 230ms both;
}

/* Modal Content (box) */
.modal-content {
  text-align: left;
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15%;
  margin-bottom: 15%;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  max-width: 70%;
  border-radius: 3px;
  background-color: rgba(255,255,255,0.90);
  animation: fade-in 260ms both, slide-up 260ms both;
}

.modal-content {
  h2 {
    font-variant: small-caps;
    margin: 0rem 0rem -1rem 0rem;
  } 
  h6 {
    margin-top: 1.5rem;
    margin-bottom: 0.7rem;
    text-align: left;
  }
  p {
    text-align: left;
    margin-top: -0.5rem;
    margin-bottom: 0rem;
  }
}

/* Close Button */
.close {
  color: _palette(meta);
  float: right;
  font-size: 1.7rem;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
} 
