/**
 * Posts and Pages
 */
.post {
  margin-bottom: 3.33333em;
}

.post-header {
  margin-bottom: 2.5em;
}

.post-title {
  margin-bottom: 0.66667rem;

  a {
    border: 0;
    color: inherit;

    &:hover {
      color: _palette(primary);
    }
  }
}

.post-meta {
  color: _palette(meta);
  font-size: 0.88889rem;
}

.post-thumbnail {
  border: 0;
  display: block;
  margin-bottom: 2.5em;

  img {
    width: 100%;
  }
}

.post-subtitle {
  color: _palette(secondary);
  text-align: justify;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  font-size: 1.33333rem;
  line-height: 1.5;
  margin-bottom: 2.5rem;
}

.post-content {
  margin-bottom: 1.25rem;
  .summary {
    margin-bottom: -1.65rem;
  }
}

.post-related-articles-list {
  margin: 0 0 0;
  padding: 0 0 0 0;
  list-style: none;
  li {
    padding-left: 1em;
    text-indent: -1em;
  }
  li:before {
    content: "+";
    padding-right: 5px;
  }
}

.post-tags {
  margin-bottom: 2.05rem;
}

.post-related-articles {
  margin-bottom: 1.25rem;
  line-height: 1;
}

.post-related-article {
  line-height: 1.6;
}

.read-more-link {
  color: _palette(secondary);
  display: inline-block;
  font-size: 0.88889rem;
  font-weight: bold;
  padding: 0.3em 24px 0.3em 0;
  position: relative;

  .icon-arrow-right {
    left: auto;
    margin-left: 0;
    margin-right: 2px;
    right: 0;
  }
}

.post-feed {
  .post {
    border-bottom: 1px dashed _palette(border);
    padding-bottom: 1.66667em;

    &:last-child {
      border: 0;
      padding-bottom: 0;
    }
  }

  .post-header,
  .post-thumbnail {
    margin-bottom: 1.66667em;
  }

  .post-title {
    font-size: 1.66667rem;
  }

  .post-meta {
    font-size: 14px;
  }
}

.transcription, .translation {
  .i18n {
    font-style: italic;
  }
}

.transcription {
  p {
    -webkit-hyphens: none !important;
    -ms-hyphens: none !important;
    hyphens: none !important;
  }
  margin-bottom: -0.85rem;
}

.notice {
  .i18n {
    font-weight: bold;
  }
}

.supplement {
  margin-top: 1.85rem;
  margin-bottom: 2.85rem;
}

.list {
  text-align: justify;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.no-bullet-item {
  list-style: none;
}

.item__title {
  font-weight: bold;
}

.item__description {
  margin-bottom: 1rem;
}

.list:last-child {
  margin-bottom: -1em;
}

// Highlight anchor targets.
// id 'registration' used by event page!
@keyframes highlight {
 	0% {
 		background: lighten(#ffd300, 30%);
 	}
 	100% {
 		background: none;
 	}
}

#registration:target,.highlight:target {
  animation: highlight 4.5s;
}
