/**
 * Tag Cloud
 */

.tag-cloud {
  margin: 2em 0 3em;
  text-align: center;
  font-family: _font(primary);

  .tag-cloud-title {
    display: inline-block;
    font-size: 1rem;
    color: _palette(accent-aaw);
  }

  .tag-cloud-tags {
    margin: 10px 0;

    a {
      display: inline-block;
      position: relative;
      margin: 20px;
      word-wrap: break-word;
      transition-duration: 0.2s;
      transition-property: transform;
      transition-timing-function: ease-out;

      .tag-count {
        display: inline-block;
        position: relative;
        top: -8px;
        right: -2px;
        color: _palette(accent-aaw);
        font-size: 2rem;
      }

      &:active,
      &:focus,
      &:hover {
        color: _palette(accent-aaw);
        transform: scale(1.1);
      }
    }
  }
}
