/**
 * Team
 *
 * Based on Team section of Meghna Hugo Theme;
 * Bootstrap is used partially.
 */

/*!
 * Meghna Hugo Theme Version: 1.3
 * Copyright 2020 Designed by Themefisher & Developed by Gethugothemes
 * Licensed under MIT (https://github.com/themefisher/meghna-hugo/blob/master/LICENSE)
 */

/*!
 * Bootstrap v4.4.1 (https://getbootstrap.com/)
 * Copyright 2011-2019 The Bootstrap Authors
 * Copyright 2011-2019 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */

section {
  display: block;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

#team {
  margin-top: 2*0.83333rem;
}

.team-member {
  background-color: #fff;
  margin-bottom: 10px;
}

.team-member:hover .mask {
  cursor: pointer;
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: rotateY(0deg) scale(1, 1);
  transform: rotateY(0deg) scale(1, 1);
}

.member-photo {
  overflow: hidden;
  position: relative;
}

.member-photo img {
  transition: all 0.4s ease 0s;
}

.member-photo:hover img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.member-photo .mask {
  background-color: rgba(_palette(accent-tan), 0.7);
  position: absolute;
  text-align: center;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  transition: all .5s ease-out 0s;
  -webkit-transform: rotateY(180deg) scale(0.5, 0.5);
  transform: rotateY(180deg) scale(0.5, 0.5);
}

.member-photo .mask ul {
  text-align: center;
  position: relative;
  top: 100px;
}

.member-photo .mask ul li a {
  border: 1px solid #fff;
  color: #fff;
  display: block;
  font-size: 20px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  width: 35px;
}

.member-photo .mask ul li a:hover {
  background-color: #fff;
  color: _palette(accent-tan);
  border: 1px solid transparent;
}

.list-inline {
  padding-left: 0;
  list-style: none;
}

.list-inline-item {
  display: inline-block;
}

.list-inline-item:not(:last-child) {
  margin-right: 0.5rem;
}

.mask list-inline {
  padding-left: 0;
  list-style: none;
}

.mask list-inline-item {
  display: inline-block;
}

.mask list-inline-item:not(:last-child) {
  margin-right: 0.5rem;
}

a .fa {
  pointer-events: none;
}

.member-meta {
  padding: 15px 0 0 0;
}

.member-meta h4 {
  margin: 0 0 -4px;
}

.member-meta span {
  font-size: 14px;
}

.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}

@media (min-width: 576px) {
  .container {
	max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
	max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
	max-width: 960px;
  }
}

@media (min-width: 992px) {
  .col-lg-6 {
	-ms-flex: 0 0 50%;
	flex: 0 0 50%;
	max-width: 50%;
  }
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col-12,
.col-md-6,
.col-lg-6 {
  position: relative;
  width: 100%;
  padding-right: 30px;
  padding-left: 0px;
}

.col-12 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

@media (min-width: 1200px) {
  .container {
	max-width: 1140px;
  }
}

@media (max-width: 768px) {
  .member-photo {
	text-align: center;
  }
}

@media (max-width: 768px) {
  .member-photo img {
	display: inline-block;
  }
}

@media (min-width: 768px) {
  .col-md-6 {
	-ms-flex: 0 0 50%;
	flex: 0 0 50%;
	max-width: 50%;
  }
}
