<!doctype html>
<html lang="{{ .Site.Params.lang | default "de" }}">
    <head>    
        
        {{ partial "favicon.html" . }}

        {{ if .IsHome }}
          <title>{{ $.Title }} | {{ .Site.Title }}</title>
        {{ else }}
          <title>{{ .Site.Title }} | {{ $.Title }}</title>
        {{ end }}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        {{ partial "seo_schema.html" . }}

        <link rel="preload" as="style" href="assets/css/fontawesome.min.css"/>
        <link rel="preload" as="style" href="assets/css/brands.min.css"/>
        <link rel="preload" as="style" href="assets/css/solid.min.css"/>
        <link rel="preload" as="style" href="assets/css/littlefoot.css"/>
        <link rel="preload" as="style" href="assets/css/hugo-easy-gallery.css"/>

        <link href="https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700,700i&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ (resources.Get "sass/main.scss" | resources.ExecuteAsTemplate "assets/css/main.css" . | resources.ToCSS (dict "indentWidth" 4 "outputStyle" "nested" "precision" 10)).Permalink }}">

        {{ if or (eq .Params.layout "post") (eq .Params.layout "event") }}
          {{ if $.Params.canonical_url }}
              <link rel="canonical" href="{{ $.Params.canonical_url }}"/>
          {{ end }}
        {{ end }}
        
        <style>{{ block "style" . }}
        {{ end }}</style>
    </head>
    <body>

        {{ if .Site.Params.photoswipe }}
          {{ partial "photoswipe.html" . }}
        {{ end }}
        
        <div id="page" class="site palette-{{ .Site.Params.palette }}">
        
          {{ block "content" . }}{{ end }}
        
        </div><!-- .site -->
        <!-- Scripts -->

        {{ partial "scripts.html" . }}        

    </body> 
</html>
