{{ define "content" }}

  {{ $include_dict := dict "Site" .Site "page" . "image" ($.Params.header_img | default .Site.Params.header.background_img) }}
  {{ partial "header.html" $include_dict }}

  <div id="content" class="site-content">
    <main id="main" class="site-main inner">

      <header class="post-header">
        <h1 class="post-title">{{ .Params.title }}</h1>
      </header>

      <div class="post-feed">

          <!-- Get title of events archive page. -->
          {{ $scratch := newScratch }}
          {{ with .Site.GetPage "Title" "/events/archiv/_index.md"}}
            {{ $scratch.Set "event_archive" .Title }}
          {{ end }}

          <!-- Show events if not archived. -->
          <!-- Sort by ending date, so the first ending event is on top. -->
          <!-- Disable subsection events_archive. -->
          <!-- Look only in section events. -->
          {{ $display_posts := where (sort (.Site.GetPage .File.Dir).Pages ".Params.endDate" "asc") "Title" "!=" ($scratch.Get "event_archive") }}
          
          <!-- If not archived and if startDate and endDate are known. -->
          {{ range $post := $display_posts }}
            {{ if and ($post.Params.startDate) ($post.Params.endDate) (not $post.Params.archive) }}
              {{ if ((time $post.Params.endDate).After now) }}
                <!-- Show with startDate and endDate. -->
                {{ partial "event_list.html" (dict "post" $post "global_site" $) }}
              {{ end }}
            {{ end }}
          {{ end }}

          <!-- If not archived and no startDate/endDate yet known. -->
          {{ range $post := $display_posts }}
            {{ if or (not $post.Params.startDate) (not $post.Params.endDate) }}
              {{ if not $post.Params.archive }}
                <!-- Show with no date yet. -->
                {{ partial "event_list.html" (dict "post" $post "global_site" $) }}
              {{ end }}
            {{ end }}
          {{ end }}
            
      </div><!-- .post-feed -->

      <nav class="pagination">
        <div class="nav-links">
          <p class="read-more">
            <a class="read-more-link" href="{{ "/events/archiv" | relURL }}">{{ T "archive_events" }}<span class="icon-arrow-right" aria-hidden="true"></span></a>
          </p>
          <!--
          <p class="calendar-view">
            <a class="read-more-link" href="{{ "/events/kalender" | relURL }}">{{ T "calendar_view" }}<span class="icon-arrow-right" aria-hidden="true"></span></a>
          </p>
          -->
        </div>
      </nav>

    </main><!-- .site-main -->

    {{ partial "footer.html" $include_dict }}

  </div><!-- .site-content -->

{{ end }}
