{{ define "content" }}

  {{ $include_dict := dict "Site" .Site "page" . "image" ($.Params.header_img | default .Site.Params.header.background_img) }}
  {{ partial "header.html" $include_dict }}

  <div id="content" class="site-content">
    <main id="main" class="site-main inner">

      <header class="post-header">
        <h1 class="post-title">{{ .Params.title }}</h1>
      </header>

      <div class="post-feed">

          {{ $display_posts := where .Site.Pages "Section" "events" }}
          <!-- Caution: Filtering by type does not return only posts from section events and events/archive.
               Hence still use clause with Params.layout. -->

          <!-- Show latest finished event first. -->
          {{ range $post := ($display_posts.ByParam "endDate").Reverse }}

            {{ with and ($post.Params.startDate) ($post.Params.endDate) (eq $post.Params.layout "event") }}

                {{ if and ((time $post.Params.endDate).Before now) (not $post.Params.archive) }}
                    {{ partial "event_list.html" (dict "post" $post "global_site" $) }}
                {{ end }}

            {{ end }}

          {{ end }}

          <!-- Show canceled events (manually archived posts). Shows latest published post first. -->
          {{ range $post := $display_posts.ByDate.Reverse }}

            {{ with and ($post.Params.archive) (eq $post.Params.layout "event") }}

                    {{ partial "event_list.html" (dict "post" $post "global_site" $) }}

            {{ end }}

            <!-- Show canceled (assuming!) events (have not been manually archived).
                 One missing date. startDate or endDate has passed. Shows latest published post first. -->
            {{ with and (not $post.Params.archive) (eq $post.Params.layout "event") }}

              {{ with and ($post.Params.startDate) (not $post.Params.endDate) }}
                {{ if ((time $post.Params.startDate).Before now) }}
                    {{ partial "event_list.html" (dict "post" $post "global_site" $) }}
                {{ end }}
              {{ end }}

              {{ with and (not $post.Params.startDate) ($post.Params.endDate) }}
                {{ if ((time $post.Params.endDate).Before now) }}
                    {{ partial "event_list.html" (dict "post" $post "global_site" $) }}
                {{ end }}
              {{ end }}

              <!-- Events for which no date is set and are located in subsection events_archive. -->
              {{ with and (not $post.Params.startDate) (not $post.Params.endDate) (eq $post.File.Dir "events/archive") }}
                    {{ partial "event_list.html" (dict "post" $post "global_site" $) }}
              {{ end }}

            {{ end }}

          {{ end }}
            
      </div><!-- .post-feed -->

      <nav class="pagination">
        <div class="nav-links">
          <p class="read-more">
            <a class="read-more-link" href="{{ "/events" | relURL }}">{{ T "upcoming_events" }}<span class="icon-arrow-right" aria-hidden="true"></span></a>
          </p>
          <!--
          <p class="calendar-view">
            <a class="read-more-link" href="{{ "/events/archiv" | relURL }}">{{ T "calendar_view" }}<span class="icon-arrow-right" aria-hidden="true"></span></a>
          </p>
          -->
        </div>
      </nav>

    </main><!-- .site-main -->

    {{ partial "footer.html" $include_dict }}

  </div><!-- .site-content -->

{{ end }}
