{{ define "content" }}

  {{ $include_dict := dict "Site" $.Site "page" $ "image" ($.Params.header_img | default $.Site.Params.header.background_img) }}
  {{ partial "header.html" $include_dict }}

  <div id="content" class="site-content">
    <main id="main" class="site-main inner">

      <article class="post post-full">
        <header class="post-header">
          <h1 class="post-title">{{ .Params.title }}</h1>
          <div class="post-meta">
            {{ T "published_on" }} <time class="published"
              datetime="{{ .Date | dateFormat "2006-01-02 15:04" }}">
                {{ .Date.Day }}. {{ index $.Site.Data.monat (printf "%d" .Date.Month) }} {{ .Date.Year }}
                {{ if in $.Content "h3 id=\"registration\"" }}
                <span class="post-event-application">
                  | <a href="#registration">{{ T "registration" }} ↵</a>
                </span>
                {{ end }}
                {{ $pdf_auto := printf "/%s.pdf" (path.Join .File.Dir (path.Base .File.Dir)) }} <!-- Same name like html article (only within page bundle). -->
                {{- if .Params.pdf_version }}{{ $pdf_manual := path.Join .File.Dir .Params.pdf_version }} <!-- Filename specified in front matter.-->
                {{- if fileExists $pdf_manual -}}
                <span class="post-event-pdf">
                {{ $pdf_url := ($pdf_manual | relURL) }}
                | <a href='{{ $pdf_url | safeURL }}' target="_blank">pdf</a>
                </span>
                {{ end }}
                {{- else if fileExists $pdf_auto -}}
                <span class="post-event-pdf">
                {{ $pdf_url := $pdf_auto }}
                | <a href='{{ $pdf_url | safeURL }}' target="_blank">pdf</a>
                </span>
                {{- end -}}<!-- .post-event-pdf -->
                </span>
                <br>
                <span class="post-event-period">
                {{ if and (.Params.startDate) (.Params.endDate) (not .Params.archive) }}
                  <!-- Check if timestamp or only date YYYY-MM-DD for startDate. -->
                  {{ if .Params.startDate_hhmm }}
                    {{ $start := (time .Params.startDate) }}
                    Beginn: <b>{{ $start.Day }}. {{ index $.Site.Data.monat (printf "%d" $start.Month) }} {{ $start.Year }},</b> {{ $start.Hour }}:{{ printf "%02d" $start.Minute }} Uhr</b>
                  {{ else if not .Params.startDate_hhmm }}
                    {{ $start := (time .Params.startDate) }}
                    Beginn: <b>{{ $start.Day }}. {{ index $.Site.Data.monat (printf "%d" $start.Month) }} {{ $start.Year }}</b>
                  {{ end }}
                  <!-- Check if timestamp or only date YYYY-MM-DD for endDate. -->
                  {{ if .Params.endDate_hhmm }}
                    {{ $end := (time .Params.endDate) }}
                    | Ende: <b>{{ $end.Day }}. {{ index $.Site.Data.monat (printf "%d" $end.Month) }} {{ $end.Year }},</b> {{ $end.Hour }}:{{ printf "%02d" $end.Minute }} Uhr
                  {{ else if not .Params.endDate_hhmm }}
                    {{ $end := (time .Params.endDate) }}
                    | Ende: <b>{{ $end.Day }}. {{ index $.Site.Data.monat (printf "%d" $end.Month) }} {{ $end.Year }}</b>
                  {{ end }}
                <!-- If event manually archived. -->
                {{ else if .Params.archive }}
                    <b>{{ T "canceled" }}</b>
                <!-- Events missing either startDate or endDate. -->
                {{ else if and (.Params.startDate) (not .Params.endDate) }}
                  <!-- If existing date has passed, assume canceled event. -->
                  {{ if (time .Params.startDate).Before now }}
                    <b>{{ T "canceled" }}</b>
                  <!-- If existing date has not passed yet, assume no date yet known. -->
                  {{ else }}
                    <b>{{ T "no_date_yet" }}</b>
                  {{ end }}
                {{ else if and (not .Params.startDate) (.Params.endDate) }}
                  <!-- If existing date has passed, assume canceled event. -->
                  {{ if (time .Params.endDate).Before now }}
                    <b>{{ T "canceled" }}</b>
                  <!-- If existing date has not passed yet, assume no date yet known. -->
                  {{ else }}
                    <b>{{ T "no_date_yet" }}</b>
                  {{ end }}
                <!-- If no startDate and endDate:
                     If placed in section events/archiv, assume canceled event. -->
                {{ else if and (not .Params.startDate) (not .Params.endDate) (in .File.Dir "events/archiv/") }}
                    <b>{{ T "canceled" }}</b>
                {{ else }}
                    <b>{{ T "no_date_yet" }}</b>
                </span>
                {{ end }}
                {{ if isset .Params "location" }}
                <span class="post-event-location">
                    <!-- Time part (at least no_date_yet) will always be shown, hence print the seperator pipe here. -->
                    |
                    {{- $.Scratch.Set "list" slice -}}
                    {{ range $location := .Params.location }}
                        {{ $.Scratch.Add "list" (slice $location) }}
                    {{ end }}
                    <!-- Show location prefix only if at least 1 location exists. -->
                    {{ if gt (len ($.Scratch.Get "list")) 0 }}
                        Ort:
                    <b>{{ delimit ($.Scratch.Get "list") ", " }}</b>
                    {{ end }}
                </span>
                {{ end }}
          </div>
        </header><!-- .post-header -->
        {{ if .Params.subtitle }}
        <div class="post-subtitle">
          {{ $.Params.subtitle | safeHTML }}
        </div><!-- .post-subtitle -->
        {{ end }}
        <div class="post-content">
          {{ .Content | safeHTML }}

        </div><!-- .post-content -->
      </article><!-- .post -->

      <!-- Next/previous post navigation TBD -->
      <!--
      <nav class="post-navigation">
        <h2 class="post-nav-title">Read Next</h2>
        <article class="post">
          <header class="post-header">
            <h3 class="post-title"><a href="#" rel="bookmark">Previous Post Title</a></h3>
            <div class="post-meta">
              Published on <time class="published" datetime="">Previous post date</time>
            </div>
          </header>
        </article>
        <article class="post">
          <header class="post-header">
            <h3 class="post-title"><a href="#" rel="bookmark">Next Post Title</a></h3>
            <div class="post-meta">
              Published on <time class="published" datetime="">Next post date</time>
            </div>
          </header>
        </article>
      </nav>
      -->

    </main><!-- .site-main -->

    {{ partial "footer.html" $include_dict }}

  </div><!-- .site-content -->

{{ end }}
