{{ define "content" }}

  {{ $include_dict := dict "Site" .Site "page" . "image" .Site.Params.header.background_img }}
  {{ partial "header.html" $include_dict }}

  <div id="content" class="site-content">
    <main id="main" class="site-main inner">
  
    <div class="home-content">
      {{ .Content }}
    </div>

    {{ partial "tag_cloud.html" . }}

    </main><!-- .site-main -->

    {{ partial "footer.html" $include_dict }}

  </div><!-- .site-content -->

{{ end }}
