{{ define "content" }}

  {{ $include_dict := dict "Site" .Site "page" . "image" (.Params.header_img | default .Site.Params.header.background_img) }}
  {{ partial "header.html" $include_dict }}

  <div id="content" class="site-content">
    <main id="main" class="site-main inner">

      <article class="post page post-full">
        <header class="post-header">
          <h1 class="post-title">{{ .Params.title }}</h1>
        </header><!-- .post-header -->
        {{ if .Params.subtitle }}
        <div class="post-subtitle">
          {{ $.Params.subtitle | safeHTML }}
        </div><!-- .post-subtitle -->
        {{ end }}
        <div class="post-content">
          {{ .Content }}
        </div><!-- .post-content -->
      </article><!-- .post -->

    </main><!-- .site-main -->

    {{ partial "footer.html" $include_dict }}

  </div><!-- .site-content -->

{{ end }}
