{{ define "content" }}

  {{ $include_dict := dict "Site" $.Site "page" $ "image" ($.Params.header_img | default $.Site.Params.header.background_img) }}
  {{ if eq .Params.hide_header true }}
    {{ partial "header_alt.html" . }}
  {{ else }}
    {{ partial "header.html" $include_dict }}
  {{ end }}

  <div id="content" class="site-content">
    <main id="main" class="site-main inner">

      <article class="post post-full">
        <header class="post-header">
          <h1 class="post-title">{{ .Params.title }}</h1>
          <div class="post-meta">
            {{ T "published_on" }} <time class="published"
              datetime="{{ .Date | dateFormat "2006-01-02 15:04" }}">
                {{ .Date.Day }}. {{ index $.Site.Data.monat (printf "%d" .Date.Month) }} {{ .Date.Year }}
                </time>
                    <span class="article-by">
                        {{ T "by" }}
                    </span>
                    <span class="article-author">
                        {{- $.Scratch.Set "list" slice -}}
                        {{ $default_author := split .Site.Params.author ","}} <!-- Hacky code for building list in Hugo. -->
                        {{- range $author := .Params.author | default $default_author }}
                            {{ $author_name := (index $.Site.Data.authors $author).name }}
                            <!-- Link to social site or taxonomy site. -->
                            {{ $author_social := (index $.Site.Data.authors $author).social.website }}
                            {{ $.Scratch.Add "list" (slice $author_name) }}
                        {{- end -}}
                        {{ delimit ($.Scratch.Get "list") ", " }}
                    </span>
                <span class="article-license">
                    | {{ T "license" }}: {{ .Params.license | default .Site.Params.license }}
                </span>
                {{ $pdf_auto := printf "/%s.pdf" (path.Join .File.Dir (path.Base .File.Dir)) }} <!-- Same name like html article (only within page bundle). -->
                {{- if .Params.pdf_version }}{{ $pdf_manual := path.Join .File.Dir .Params.pdf_version }} <!-- Filename specified in front matter.-->
                {{- if fileExists $pdf_manual -}}
                <span class="article-pdf">
                {{ $pdf_url := ($pdf_manual | relURL) }}
                | <a class="text-icon" href='{{ $pdf_url | safeURL }}' target="_blank">PDF<i class="fa fa-file" style="font-size:0.72222rem;margin:0px 3px 0px 5px"></i></a>
                </span>
                {{ end }}
                {{- else if fileExists $pdf_auto -}}
                <span class="article-pdf">
                {{ $pdf_url := $pdf_auto }}
                | <a class="text-icon" href='{{ $pdf_url | safeURL }}' target="_blank">PDF<i class="fa fa-file" style="font-size:0.72222rem;margin:0px 3px 0px 5px"></i></a>
                </span>
                {{- end -}}<!-- .article-pdf -->
          </div>
        </header><!-- .post-header -->
        {{ if .Params.subtitle }}
        <div class="post-subtitle">
          {{ $.Params.subtitle | safeHTML }}
        </div><!-- .post-subtitle -->
        {{ end }}
        <div class="post-content">
          {{ .Content | safeHTML }}
        </div><!-- .post-content -->
        {{ $pdf_auto := printf "/%s.pdf" (path.Join .File.Dir (path.Base .File.Dir)) }} <!-- Same name like html article (only within page bundle). -->
        {{- if .Params.pdf_version }}{{ $pdf_manual := path.Join .File.Dir .Params.pdf_version }} <!-- Filename specified in front matter.-->
        {{- if fileExists $pdf_manual -}}
        {{ $pdf_url := ($pdf_manual | relURL) }}
        {{ $include_dict := dict "pdf_url" $pdf_url }}
        <div class="post-pdf-download">
          <p><span style="font-style:italic">{{ T "pdf_download_text" $include_dict | .RenderString }}</span></p>
        </div><!-- .post-pdf-download -->
        {{ end }}
        {{- else if fileExists $pdf_auto -}}
        {{ $pdf_url := $pdf_auto }}
        {{ $include_dict := dict "pdf_url" $pdf_url }}
        <div class="post-pdf-download">
          <p><span style="font-style:italic">{{ T "pdf_download_text" $include_dict | .RenderString }}</span></p>
        </div><!-- .post-pdf-download -->
        {{ end }}

      <!-- Tags -->
      {{ partial "tags.html" . }}

      <!-- Related articles -->
      {{ partial "related_articles.html" . }}

      <!-- CTA: Call for Articles -->
      {{ partial "cta_articles.html" . }}

      </article><!-- .post -->

      <!-- Next/previous post navigation TBD -->

      <!--
      <nav class="post-navigation">
        <h2 class="post-nav-title">Read Next</h2>
        <article class="post">
          <header class="post-header">
            <h3 class="post-title"><a href="#" rel="bookmark">Previous Post Title</a></h3>
            <div class="post-meta">
              Published on <time class="published" datetime="">Previous post date</time>
            </div>
          </header>
        </article>
        <article class="post">
          <header class="post-header">
            <h3 class="post-title"><a href="#" rel="bookmark">Next Post Title</a></h3>
            <div class="post-meta">
              Published on <time class="published" datetime="">Next post date</time>
            </div>
          </header>
        </article>
      </nav>
      -->

    </main><!-- .site-main -->

    {{ partial "footer.html" . }}

  </div><!-- .site-content -->

{{ end }}
