{{ $post := .post }}
{{ $Site := .global_site.Site }}

<article class="post">
  <header class="post-header">
    <h2 class="post-title"><a href="{{ $post.URL }}" rel="bookmark">{{ $post.Params.title }}</a></h2>
    <div class="post-meta">
      {{ if and ($post.Params.startDate) ($post.Params.endDate) (not $post.Params.archive) }}

      {{ $start := (time $post.Params.startDate) }}
      {{ $end := (time $post.Params.endDate) }}

      <!-- Determine how to print the dates. Translation via Site.Data.monat (currently non-multilingual). -->
      	{{ if eq ($start.Year) ($end.Year) }}
      		{{ if eq ($start.Month) ($end.Month) }}
      			{{ if eq ($start.Day) ($end.Day) }}
                <!-- 1. Januar 1900 -->
      				{{ $start.Day }}.
                      {{ index $Site.Data.monat (printf "%d" $end.Month) }}
      				{{ $end.Year }}
      			{{ else }}
                <!-- 1.–3. Januar 1900 -->
      				{{ $start.Day }}.–{{ $end.Day }}.
      				{{ index $Site.Data.monat (printf "%d" $end.Month) }}
      				{{ $end.Year }}
      			{{ end }}
      		{{ else }}
                <!-- 1. Januar–3. Februar 1900 -->
      			{{ $start.Day }}.
      			{{ index $Site.Data.monat (printf "%d" $start.Month) }}–{{ $end.Day }}.
      			{{ index $Site.Data.monat (printf "%d" $end.Month) }}
      			{{ $end.Year }}
      		{{ end }}
      	{{ else }}
                <!-- 1. Januar 1900 –3. Februar 1901 -->
      		{{ $start.Day }}.
              {{ index $Site.Data.monat (printf "%d" $start.Month) }}
      		{{ $start.Year }}–{{ $end.Day }}.
              {{ index $Site.Data.monat (printf "%d" $end.Month) }}
      		{{ $end.Year }}
      	{{ end }}

      <!-- Event missing either startDate or endDate. -->
      {{ else if and ($post.Params.startDate) (not $post.Params.endDate)}}
        <!-- If existing date has passed, assume canceled event. -->
        {{ if ((time $post.Params.startDate).Before now) }}
          {{ T "canceled" }}
        <!-- If existing date has not passed yet, assume no date yet known. -->
        {{ else if ((time $post.Params.startDate).After now) }}
          {{ T "no_date_yet" }}
        {{ end }}
      {{ else if and (not $post.Params.startDate) ($post.Params.endDate)}}
        <!-- If existing date has passed, assume canceled event. -->
        {{ if ((time $post.Params.endDate).Before now) }}
          {{ T "canceled" }}
        <!-- If existing date has not passed yet, assume no date yet known. -->
        {{ else if ((time $post.Params.endDate).After now) }}
          {{ T "no_date_yet" }}
        {{ end }}
      <!-- If no startDate and endDate and in section events/archiv. -->
      {{ else if and (not $post.Params.startDate) (not $post.Params.endDate)}}
        <!-- If placed in section events/archiv, assume canceled event. -->
        {{ if (in $post.File.Dir "events/archiv/") }}
          {{ T "canceled" }}
        {{ else }}
          {{ T "no_date_yet" }}
        {{ end }}
      <!-- If event manually archived. -->
      {{ else if $post.Params.archive }}
      <!-- If canceled. -->
      {{ T "canceled" }}
      {{ else }}
      {{ T "no_date_yet" }}
      {{ end }}

      </div>

  </header><!-- .post-header -->

    {{ with $post.Summary }}<!-- Do not create post-content, if there is absolute no content (badly needed due to nerdism). -->
    {{ partial "summary.html" . }}
    {{ end }}<!-- Summary Content -->

    {{ if eq $.Params.has_more_link true }}
    <p class="read-more">
      <a class="read-more-link" href="{{ $post.URL }}">{{ $.Params.more_link_text | T "readmore" }}<span class="icon-arrow-right" aria-hidden="true"></span></a>
    </p>
    {{ end }}

</article><!-- .post -->
