<link rel="icon" type="image/svg+xml" href="/favicon.svg">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v2.0.0=qAMKBdXNed">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v2.0.0=qAMKBdXNed">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v2.0.0=qAMKBdXNed">
<link rel="manifest" href="/site.webmanifest?v2.0.0=qAMKBdXNed">
<link rel="mask-icon" href="/safari-pinned-tab.svg?v2.0.0=qAMKBdXNed" color="#b69670">
<link rel="shortcut icon" href="/favicon.ico?v2.0.0=qAMKBdXNed">
<meta name="msapplication-TileColor" content="#ff0000">
<meta name="msapplication-TileImage" content="/mstile-144x144.png?v2.0.0=qAMKBdXNed">
<meta name="theme-color" content="#ffffff">
