<footer id="colophon" class="site-footer inner">
  {{ if or .Site.Params.footer.content .Site.Params.footer.links }}
  <div class="site-footer-inside">
    {{ if $.Site.Params.footer.content }}
    <span class="copyright">{{ $.Site.Params.footer.content | safeHTML }}</span>
    {{ end }}
    {{ range $link := $.Site.Params.footer.links }}
      <a href="{{ $link.url | relURL }}" {{ if $link.new_window }}target="_blank" rel="noopener"
      {{ end }}>{{ $link.label }}</a>
    {{ end }}
  </div><!-- .site-footer-inside -->
  {{ end }}
  <a id="to-top" class="to-top" href="#page">{{ T "to_top" }} <span class="icon-arrow-up" aria-hidden="true"></span></a>
</footer><!-- .site-footer -->
