<!-- Provide different images for portrait and landscape header.
  Fallback to a global image, if no specific post or section image was provided. -->
{{ define "style" }}{{ if and (.Params.header_mobile_img) (.Params.header_img) }}
  @media only screen and (min-width: 801px) {
    .site-header-bg {
      background-image: url('{{ .Params.header_img }}')
    }
  }
  @media only screen and (max-width: 800px) {
    .site-header-bg {
      background-image: url('{{ .Params.header_mobile_img }}')
    }
  }
{{ else if and (.FirstSection.Params.header_mobile_img) (.FirstSection.Params.header_img) }}
  @media only screen and (min-width: 801px) {
    .site-header-bg {
      background-image: url('{{ .FirstSection.Params.header_img }}')
    }
  }
  @media only screen and (max-width: 800px) {
    .site-header-bg {
      background-image: url('{{ .FirstSection.Params.header_mobile_img }}')
    }
  }
{{ else if and (.Site.Params.header.mobile_background_img) (.Site.Params.header.background_img) }}
  @media only screen and (min-width: 801px) {
    .site-header-bg {
      background-image: url('{{ .Site.Params.header.background_img }}')
    }
  }
  @media only screen and (max-width: 800px) {
    .site-header-bg {
      background-image: url('{{ .Site.Params.header.mobile_background_img }}')
    }
  }
{{ else if or (.Params.header_img) (.FirstSection.Params.header_img) (.Site.Params.header.background_img) }}
  .site-header-bg {
    {{ if .Params.header_img }}background-image: url('{{ .Params.header_img }}')
    {{ else if .FirstSection.Params.header_img }}background-image: url('{{ .FirstSection.Params.header_img }}')
    {{ else if .Site.Params.header.background_img }}background-image: url('{{ .Site.Params.header.background_img }}')
    {{ end }}}{{ end }}{{ end }}
<header id="masthead" class="site-header">
  <!-- Set page specific or global header image -->
  <div id="header-bg" class="site-header-bg"></div>
  <div class="site-header-scroll">
    <div class="site-header-inside">
      <div class="site-header-vertical">
        {{ partial "branding.html" . }}
        {{ partial "navigation.html" . }}
      </div><!-- .site-header-vertical -->
    </div><!-- .site-header-inside -->
  </div><!-- .site-header-scroll -->
</header><!-- .site-header -->
