<header id="header-alt" class="site-header-alt">
  <nav id="single-navigation" class="site-navigation-alt" aria-label="Main Navigation">
    <a class="home-link" href="{{ .FirstSection.File.Dir | path.Dir | relURL }}"><span class="icon-arrow-left"
        aria-hidden="true"></span> {{ T "all_articles" }}</a>
  </nav><!-- .site-navigation-alt -->
</header><!-- .site-header-alt -->
