{{ if or .Site.Params.header.has_nav .Site.Params.header.has_social }}
<nav id="main-navigation" class="site-navigation" aria-label="Main Navigation">
  <div class="site-nav-wrap">
    <div class="site-nav-inside">

      {{ if $.Site.Params.header.has_nav }}
      <ul class="menu">
        {{ range $action := $.Site.Params.header.nav_links }}
          {{ $pageUrl := trim $.URL "/" }}
          {{ $actionUrl := trim $action.url "/" }}
          <li class="menu-item{{ if eq $pageUrl $actionUrl }} current-menu-item{{ end }}">
            <a href="{{ $action.url | relURL }}"{{ if $action.new_window }} target="_blank" rel="noopener"{{ end }}>{{ $action.label }}</a>
          </li>
        {{ end }}
      </ul>
      {{ end }}

      {{ if $.Site.Params.header.has_social }}
      <div class="social-links">
        {{ range $action := $.Site.Params.header.social_links }}
        {{ if $action }}
        <a {{ if eq $action.style "icon" }}class="button-circle"{{ end }} href="{{ $action.url | safeURL }}"{{ if $action.new_window }} target="_blank" rel="noopener"{{ end }}>
          {{ if and (eq $action.style "icon") $action.icon_class }}
          <span class="{{ $action.icon_class }}" aria-hidden="true"></span><span class="screen-reader-text">{{ $action.label }}</span>
          {{ else }}
          {{ $action.label }}
          {{ end }}
        </a>
        {{ end }}
        {{ end }}
      </div><!-- .social-links -->
      {{ end }}

    </div><!-- .site-nav-inside -->
  </div><!-- .site-nav-wrap -->
</nav><!-- .site-navigation -->
<button id="menu-toggle" class="menu-toggle"><span class="screen-reader-text">Menu</span><span class="icon-menu" aria-hidden="true"></span></button>
{{ end }}
