{{ $related := .Site.RegularPages.Related . | first .Site.Params.related_article_count }}
{{ with $related }}
	<div class="post-related-articles">
		<h3 class="post-related-articles-header">{{ T "related_articles" }}</h3>
		<ul class="post-related-articles-list" >
		  {{ range . }}
		  <li><a class="post-related-article" href="{{ .RelPermalink }}">{{ .Title }}</a></li>
		  {{ end }}
		</ul>
    </div>
{{ end }}
