<!-- js | jquery needs to be load first! -->
{{ if .Site.Params.bootcdn -}}
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" crossorigin="anonymous"></script>
{{- else if .Site.Params.publicCDN.enable -}}
  {{ .Site.Params.publicCDN.jquery | safeHTML }}
{{- else -}}
  <script type="text/javascript" src="{{ "assets/lib/jquery/jquery-3.2.1.min.js" | relURL }}"></script>
{{- end }}

<!-- Loading for theme -->
<script src="{{ "assets/js/plugins.js" | relURL }}"></script>
<script src="{{ "assets/js/main.js" | relURL }}"></script>

<!-- Load PhotoSwipe js if the load-photoswipe shortcode has been used -->
{{ if or .Site.Params.photoswipe .Site.Params.fancybox }}
  {{ if .Site.Params.bootcdn }}
	<script src="{{ "assets/js/load-photoswipe.js" | relURL }}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/photoswipe.min.js" integrity="sha256-UplRCs9v4KXVJvVY+p+RSo5Q4ilAUXh7kpjyIP5odyc="
	  crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/photoswipe-ui-default.min.js" integrity="sha256-PWHOlUzc96pMc8ThwRIXPn8yH4NOLu42RQ0b9SpnpFk="
	  crossorigin="anonymous"></script>
  {{ else if .Site.Params.publicCDN.enable }}
	<script type="text/javascript" src="{{ "assets/js/load-photoswipe.js" | relURL }}"></script>
	{{ .Site.Params.publicCDN.photoswipe | safeHTML }}
	{{ .Site.Params.publicCDN.photoswipeUI | safeHTML }}
  {{ else }}
	<script type="text/javascript" src="{{ "assets/js/load-photoswipe.js" | relURL }}"></script>
	<script type="text/javascript" src="{{ "assets/lib/photoswipe/photoswipe.min.js" | relURL}}"></script>
	<script type="text/javascript" src="{{ "assets/lib/photoswipe/photoswipe-ui-default.min.js" | relURL}}"></script>
  {{ end }}
{{ end }}

<!-- Loading popup footnotes, no jquery required.
	 Footnotes without the footprint. littlefoot.js -->
<script type="application/javascript" src="{{ "assets/js/littlefoot.js" | relURL }}"></script>
<!-- Pass any littlefoot settings here. -->
<script type="application/javascript">
	  littlefoot.littlefoot({
	  activateOnHover: true,
	  dismissOnUnhover: true,
	  hoverDelay: 250,
	  dismissDelay: 550,
	  allowMultiple: false,
      buttonTemplate:
`<button
  aria-expanded="false"
  aria-label="Footnote <% number %>"
  class="littlefoot-footnote__button"
  id="<% reference %>"
/>
  <% number %>
</button>`
	  })
</script>

<!-- Load modal-dialog js if the modal param has been set for page. -->
{{ if .Params.modal }}
  <script src="{{ "assets/js/modal-dialog.js" | relURL }}"></script>
{{ end }}
