{{ if .IsHome }}
  <meta name="description" content="{{ .Site.Params.description }}"/>
{{ else }}
  {{ if or .Params.description .Params.summary }}
  <!-- Prefer description, but if not set, use Summary Content before falling back to the Site's description. -->
    <meta name="description" content="{{ $.Params.description | default $.Summary }}"/>
  {{ else}}
    <meta name="description" content="{{ .Site.Params.description }}"/>
  {{ end }}
{{ end }}

{{ if .IsHome }}
  <meta name="author" content="{{ .Site.Params.author }}"/>
{{ else }}
  <!-- Create multiple meta tags for multiple authors. -->
  {{ $default_author := split .Site.Params.author ","}}
  {{- range $author := .Params.author | default $default_author }}
    {{ $author_name := (index $.Site.Data.authors $author).name }}
    <meta name="author" content="{{ $author_name }}"/>
  {{- end -}}
{{ end }}

<meta name="publisher" content="{{ (index .Site.Data.authors .Site.Params.author).name }}"/>
<meta name="accountablePerson" content="{{ .Site.Params.accountable_person }}"/>

<meta name="datePublished" content="{{ .Date.Format "2006-01-02" }}"/>
<meta name="dateModified" content="{{ .Lastmod.Format "2006-01-02" }}"/>

{{ with $.Params.tags }}
  {{- $.Scratch.Set "list_keywords" slice -}}
  {{ range $keyword := $.Params.tags }}
  	{{ $.Scratch.Add "list_keywords" (slice $keyword) }}
  {{ end }}
  <meta name="keywords" content="{{ delimit ($.Scratch.Get "list_keywords") ", " }}"/>
{{ end }}

<meta name="wordCount" content="{{ $.WordCount }}"/>

<meta name="url" content="{{ .Permalink | safeURL }}"/>

<!-- Set taxonomy pages (e.g. authors, tags, categories) to noindex. -->
{{ if .Data.Singular }}
    <meta name="robots" content="noindex">
{{ end }}

<!-- Alternate output formats, e.g. link to RSS feed. -->
{{ range $.AlternativeOutputFormats -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end -}}
