<!--
  Remove all markup (URLs, italic type etc).
  All html tags like <p> tags will also be removed.

  Style for summary class reduces margin after paragraph text.
-->
<div class="post-content">
  <div class="summary">
    <p>{{ . | plainify }}</p>
  </div>
</div><!-- .post-content -->
