  {{ $termName := .Data.Singular }}
  {{ $terms := .Data.Terms.ByCount }}
  {{ $type := .Type }}

  {{ $fontUnit := "rem" }}
  {{ $largestFontSize := 2.0 }}
  {{ $largestFontSize := 2.5 }}
  {{ $smallestFontSize := 1.0 }}
  {{ $fontSpread := sub $largestFontSize $smallestFontSize }}
  {{ $max := add (len (index $.Site.Taxonomies.tags.ByCount 0).Pages) 1 }}
  {{ $min := len (index $.Site.Taxonomies.tags.ByCount.Reverse 0).Pages }}
  {{ $spread := sub $max $min }}
  {{ $fontStep := div $fontSpread $spread }}
  <div class="tag-cloud" style="padding: 5px 15px">
	<div class="tag-cloud-title">
	</div>
	<div class="tag-cloud-tags">
	{{ range $tagName, $taxonomy := $.Site.Taxonomies.tags }}
	  {{ $currentTagCount := len $taxonomy.Pages }}
	  {{ $currentFontSize := (add $smallestFontSize (mul (sub $currentTagCount $min) $fontStep) ) }}
	  {{ $count := len $taxonomy.Pages }}
	  {{ $weigth := div (sub (math.Log $count) (math.Log $min)) (sub (math.Log $max) (math.Log $min)) }}
	  {{ $currentFontSize := (add $smallestFontSize (mul (sub $largestFontSize $smallestFontSize) $weigth) ) }}
	  {{ with $.Site.GetPage "taxonomy" (printf "tags/%s" $tagName) }}
	    <a href="/tags/{{ $tagName }}"
		  style="font-size:{{$currentFontSize}}{{$fontUnit}}">{{ .Title }}</a>
	  {{ end }}
	{{ end }}
	</div>
  </div>
