{{ with .Params.tags -}}
  <div class="post-tags">
	  <h3 class="post-tags-header" >{{ T "tags" }}</h3>
	  {{ range . }}
		  {{- $name := . -}}
		  {{- with $.Site.GetPage "taxonomy" (printf "tags/%s" $name) | default ($.Site.GetPage "taxonomy" (printf "tags/%s" ($name | urlize))) -}}
			  <a href="{{ .Permalink }}">#{{ $name }}</a>
		  {{ end -}}
	  {{ end }}
  </div>
{{- end }}
