{{ define "content" }}

<div id="404" class="center404">
  <main id="main">

    <img src="/images/detectorist.jpg" alt="Detectorist">

    <h1>404 ERROR</h1>

    <p>Looking for an archaeological site? Visit our <a href="{{ "/" | relURL }}">home page</a>!</p>

    <div class="cta" style="text-align: center">
      <a href="{{ "/" | relURL }}">
        <button class="cta-button" >AkArchWiss.de</button>
      </a>

    </div>
  </main>
</div>

{{ end }}
