{{ define "content" }}

  {{ $include_dict := dict "Site" .Site "page" . "image" .Site.Params.header.background_img }}
  {{ partial "header.html" $include_dict }}

  <div id="content" class="site-content">
    <main id="main" class="site-main inner">
      
      <h1 class="tag-name">#{{ .Title }}</h1>
      <div class="post-feed">
        {{ range $post := .Data.Pages }}
        <article class="post">
          <header class="post-header">
            <h2 class="post-title"><a href="{{ $post.URL }}" rel="bookmark">{{ $post.Params.title }}</a></h2>
            <div class="post-meta">
              {{ T "published_on" }} <time class="published"
                datetime="{{ $post.Date | dateFormat "2006-01-02 15:04" }}">
                  {{ .Date.Day }}. {{ index $.Site.Data.monat (printf "%d" .Date.Month) }} {{ .Date.Year }}
              </time>
            </div>
          </header><!-- .post-header -->

          {{ with $post.Summary }}<!-- Do not create post-content, if there is absolute no content (badly needed due to nerdism). -->
          {{ partial "summary.html" . }}
          {{ end }}<!-- Summary Content -->

          {{ if eq $.Params.has_more_link true }}
          <p class="read-more">
            <a class="read-more-link" href="{{ $post.URL }}">{{ $.Params.more_link_text | T "readmore" }}<span class="icon-arrow-right" aria-hidden="true"></span></a>
          </p>
          {{ end }}
        </article><!-- .post -->
        {{ end }}
      </div><!-- .post-feed -->

      <!-- Pagination TBD -->
      <!--
      <nav class="pagination">
        <div class="nav-links">
          <a class="older-posts button" href="#"><span class="icon-arrow-left" aria-hidden="true"></span><span class="screen-reader-text">Older posts</span></a>
          <span class="page-number">Page X of Y</span>
          <a class="newer-posts button" href="#"><span class="screen-reader-text">Newer posts</span><span class="icon-arrow-right" aria-hidden="true"></span></a>
        </div>
      </nav>
      -->

    </main><!-- .site-main -->

    {{ partial "footer.html" $include_dict }}

  </div><!-- .site-content -->

{{ end }}
