<ul class="list no-bullet-item">
  <li class="list__item">
    <div class="item__title">{{ .Get "author" }}:</div>
    <div class="item__description">{{ .Get "title" | .Page.RenderString }}.</div>
  </li>
</ul>
