<div class="cta" style="text-align: center">
    <a href="{{ .Get "url" | safeURL }}" title="{{ .Get "title" }}"{{ if or (strings.HasPrefix (.Get "url") "http") (strings.HasSuffix (.Get "url") "pdf") }} target="_blank"{{ end }}{{ if (strings.HasPrefix (.Get "url") "http") }} rel="noopener"{{ end }}>
        <button class="cta-button" >{{ .Get "text" }}</button>
    </a>
</div>
