{{ $featured_posts := (where site.RegularPages.ByWeight ".Params.featured" true) }}
<div class="featured-article" style="padding: 15px 0px 0px 0px">
  {{ range $post := first (site.Params.featured_article_count | default 5) $featured_posts }}
  <article class="article">
	<h5>{{ $post.Params.featured_headline | default .Title}}</h5>
      <a class="featured-article-image" href="{{ .RelPermalink }}">
      {{ with $post.Params.featured_img }}<img src="{{ $post.Params.featured_img | relURL }}"
        {{ if $post.Params.featured_img_alt }}alt="{{ $post.Params.featured_img_alt }}">{{ else}}>{{ end }}
      {{ end }}
	  </a>
	  {{ with $post.Params.featured_summary | default $post.Summary }}<!-- Do not create post-content, if there is absolute no content (badly needed due to nerdism). -->
        {{ partial "summary.html" . }}
      {{ end }}<!-- Summary Content -->
      <div class="read-more">
        <a class="read-more-link" href="{{ .RelPermalink }}">{{ T "readmore" }}<span class="icon-arrow-right" aria-hidden="true"></span></a>
      </div>
  </article>
  {{ end }}
</div>
