<!--
Put this file in /layouts/shortcodes/figure.html
NB this overrides Hugo's built-in "figure" shortcode but is backwards compatible
Documentation and licence at https://github.com/liwenyip/hugo-easy-gallery/
-->
<!-- count how many times we've called this shortcode; load the css if it's the first time -->
{{- if not ($.Page.Scratch.Get "figurecount") }}<link rel="stylesheet" href="/assets/css/hugo-easy-gallery.css" />{{ end }}
{{- $.Page.Scratch.Add "figurecount" 1 -}}
<!-- use either src or link-thumb for thumbnail image -->
<!--{{- $thumb := .Get "src" | default (printf "%s." (.Get "thumb") | replace (.Get "link") ".") }}-->
<!-- If thumb parameter is declared, use value as thumbnail image path,
else look for file with suffix "-thumb" in same directory;
if no thumbnail has been provided, use the hi-res image also for thumbnail.-->
{{ if and (ne (.Parent.Get "tile") "one") (.Get "thumb") }}
  {{- $thumb = (printf "%s" (.Get "thumb")) }}
{{ else if and (ne (.Parent.Get "tile") "one") (fileExists (path.Join .Page.File.Dir (printf "%s." "-thumb" | replace (.Get "link") "."))) }}
  {{- $thumb = (printf "%s." "-thumb" | replace (.Get "link") ".") }}
{{ else }}
  {{- $thumb = .Get "link" }}
{{ end }}
<div class="box{{ with .Get "caption-position" }} fancy-figure caption-position-{{.}}{{end}}{{ with .Get "caption-effect" }} caption-effect-{{.}}{{end}}" {{ with .Get "width" }}style="max-width:{{.}}"{{end}}>
  <figure {{ with .Get "class" }}class="{{.}}"{{ end }} itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
    <div class="img"{{ if .Parent }} style="background-image: url('{{ $thumb }}');"{{ end }}{{ with .Get "size" }} data-size="{{.}}"{{ end }}>
        <!-- Fallback to caption or title parameter if alt parameter has not been provided. Append a dot if alt text does not end with one. -->
        <img itemprop="thumbnail" src="{{ $thumb }}" loading="lazy" {{ with .Get "alt" | default (.Get "caption" | default (.Get "title")) }}alt="{{.}}{{ if not (strings.HasSuffix . ".")}}.{{ end }}"{{ end }}/><!-- <img> hidden if in .gallery -->
    </div>
    {{ with .Get "link" | default (.Get "src") }}<a href="{{.}}" itemprop="contentUrl"></a>{{ end }}
    {{- if or (or (.Get "title") (.Get "caption")) (.Get "attr")}}
      <figcaption>
        {{- with .Get "title" }}<h4>{{.}}</h4>{{ end }}
        {{- if or (.Get "caption") (.Get "attr")}}
          <p>
            {{- .Get "caption" | truncate 70 -}}
            {{- with .Get "attrlink"}}<a href="{{.}}">{{ .Get "attr" }}</a>{{ else }}{{ .Get "attr"}}{{ end -}}
          </p>
        {{- end }}
      </figcaption>
    {{- end }}
  </figure>
</div>
