{{ if and (.Get "subject") (.Get "body") }}
<a class="mail" href="mailto:{{ .Get "recipient" }}?subject={{ .Get "subject" }}&body={{ .Get "body" }}">{{ .Get "text" }}</a>
{{ end }}

{{ if and (not (.Get "subject")) (.Get "body") }}
<a class="mail" href="mailto:{{ .Get "recipient" }}?body={{ .Get "body" }}">{{ .Get "text" }}</a>
{{ end }}

{{ if and (.Get "subject") (not (.Get "body")) }}
<a class="mail" href="mailto:{{ .Get "recipient" }}?subject={{ .Get "subject" }}">{{ .Get "text" }}</a>
{{ end }}

{{ if and (not (.Get "subject")) (not (.Get "body")) }}
<a class="mail" href="mailto:{{ .Get "recipient" }}">{{ .Get "text" }}</a>
{{ end }}
