{{ $data := index site.Data site.Language.Lang }}

<!-- Modal dialog -->
{{ with $data.team.team }}
  {{ range .team_member}}
<div id="CV{{ .name | replaceRE "(\\s)" "" }}" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
	<span class="close">&times;</span>
    <h2>{{ .name }} <span class="text-icon meta-text">{{ with $.Page.Params.cv_logo }}<img src="{{ $.Page.Params.cv_logo }}" style="height:1.2em;margin:1rem 0.8rem 1.3rem 0.45rem;">{{ else }}<span style="position:relative;margin-right:0.25rem;">|</span>{{ end }}{{ with $.Page.Params.cv_logo }}<span style="font-size:1.2rem;margin:0.1rem;position:relative;bottom:0.15rem;">{{ else }}<span style="font-size:1.2rem;margin:0.1rem;position:relative;bottom:0.08rem;">{{ end }}{{ T "CV" }}</span></span></h2>
    {{ range .social }}
    {{ if .cv }}
    {{ range .cv }}
    <h6>{{ .year }}</h6>
    <p>{{ .topic | markdownify }}</p>
    {{ end }}
    {{ end }}
    {{ end }}
  </div>
</div>
  {{ end }}
{{ end }}

<!-- Team grid -->
{{ with $data.team.team }}
<section id="team" class="section">
  <div class="container">
    <div class="row justify-content-center">

      {{ range .team_member}}
      <div class="col-lg-6 col-md-6 col-12 fadeInDown">
        <div class="team-member">
          <div class="member-photo">
            <img class="img-fluid lozad" src="{{ .image | relURL }}" alt="{{ .name }}">

            <div class="mask">
              <ul class="list-inline">
                {{ $name := .name | replaceRE "(\\s)" "" }}
                {{ range .social }}
                {{ if .cv }}
                <li class="list-inline-item"><a class="modal-button" id="CV{{ $name }}"><i class="{{ .icon_class }}"></i></a></li>
                {{ else }}
                <li class="list-inline-item"><a href="{{ .url | safeURL }}"{{ if or (strings.HasPrefix .url "http") (strings.HasSuffix .url "pdf") }} target="_blank"{{ end }}{{ if (strings.HasPrefix .url "http") }} rel="noopener"{{ end }}><i class="{{ .icon_class }}"></i></a></li>
                {{ end }}
                {{ end }}
              </ul>
            </div>
          </div>

          <div class="member-meta">
            <h4>{{ .name }}</h4>
            <span>{{ .designation | markdownify}}</span>
            <p>{{ .description | markdownify }}</p>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
